<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>214755021804-8jg9odvikn41mhaft7m5vse3nh03p7ro.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.214755021804-8jg9odvikn41mhaft7m5vse3nh03p7ro</string>
	<key>API_KEY</key>
	<string>AIzaSyC4e8Dr3fvjlkHeySs8qj7jLZxWvO-0Byg</string>
	<key>GCM_SENDER_ID</key>
	<string>214755021804</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.torigian.tripNerd</string>
	<key>PROJECT_ID</key>
	<string>tripnerd-fa005</string>
	<key>STORAGE_BUCKET</key>
	<string>tripnerd-fa005.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:214755021804:ios:37858eb1d6d0661a</string>
	<key>DATABASE_URL</key>
	<string>https://tripnerd-fa005.firebaseio.com</string>
</dict>
</plist>